<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MelrosePayrollSystem.Properties.Settings.Payroll_SystemConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Griffin_Lilly\Downloads\Payroll_System.accdb"
        providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="Email" value=""/>
  </appSettings>
  
  

</configuration>